*{
    font-family: sans-serif;
}
.ySpacing{
    padding: 90px 0;
}
.homeSection{
    background-color: #000000;
}
.homeSection .homeHeading{
    color:#02dff7;
    font-size: calc(4 * 1rem);
    font-weight: 900;
}
.homeSection .homePara{
    font-size: 1.5rem;
    padding: 30px 50px 30px 0;
}
.homeSection .homeBtn{
    padding: 20px;
    background-color: #ebeaeb;
    border-radius: 30px;
    border: none;
    font-weight: 700;
}

.pompPara{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 20px 0;
    line-height: 35px;

}
.pompBtn{
    padding: 20px 30px;
    background-color: #000;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    color: white;
}

/* FORMULA PODCAST STYLES START HERE */
.formulaPodcast{
    background-color: #000;
}
.formulaPodcast h2{
    color: #02dff7;
    padding: 20px 0;
}
.formulaPodcast p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 20px 0;
    line-height: 35px;
}
/* FORMULA PODCAST STYLES START HERE */


/* JOIN SECTION STYLES START HERE */
.joinSection h2{
    line-height: 45px;
    padding-top: 45px;
}
.joinSection p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 20px 0;
    line-height: 35px;
}
/* JOIN SECTION STYLES ENDS HERE */


/* FOOTER STYLES STARTS HERE */
.footer{
    background-color: #000;
}
/* FOOTER STYLES ENDS HERE */